@import url(https://fonts.googleapis.com/css?family=DM+Sans:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Dm Sans;
}
html , body{
   min-height: 100%;
    min-width: 100%;
}

main{
    position:relative;
    overflow:hidden;
    width:100%;
    height:100vh;
}
main header{
    height:11vh;
    width:100%;
    display:flex;
    align-items: center;
    justify-content: space-around;
    box-shadow:0px 1px 5px 0px #cfcfcf;
}
header h5{
    font-family:Dm sans;
    font-size:1rem;
}
header h1{
    flex-grow: 0.7;
    text-align: center;
}
header .img-container{
    width:50px;
    height:50px;
    cursor:pointer;
}
header .img-container img{
    width:100%;
}
/* hero section */
.hero-section{
     width:80%;
    margin-inline:auto;
    height:calc(100vh - 16vh);
    display:flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    padding-top:2rem;
    font-size:medium;
    font-family:Dm Sans;
    font-weight: 500;
}
.hero-section-inner-container{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
    gap:1.7rem;
}
select{
    padding:0.5rem 1rem;
    background-color: transparent;
    border:1px solid #000;
    border-radius: 5px;
}
input{
    padding:0.5rem 0.5rem;
    font-size:1rem;
    width:100%;
}
#show-btn{
    background-color:#00FFFF;
    padding:0.5rem 1rem;
    border:1px solid #000;
    border-radius:7px;
    cursor:pointer;
}

.Popup{
    display:flex;
    flex-direction: column-reverse;
    gap:1rem;
    position:absolute;
    top:3%;
    left:1%;
}

.inner-popup{
    padding:0.5rem 0.5rem;
    border-radius:5px;
    animation:slider .1s linear;
}

.inner-popup::before{
    content:'X ';
}
.Popup.right{
    left:unset;
    right:1%;
    }
.Popup.bottom{
    bottom:3%;
    flex-direction: column;
    justify-content: flex-end;
}
.Popup.right .inner-popup{
    animation:slider1 .1s linear;
}
/* for message part */
.inner-popup.success::before{
    content:"✓ ";
}
.inner-popup.warning::before{
    content:"⚠ ";
}
.inner-popup.info::before{
    content:"ⓘ ";
}
.inner-popup.error::before{
    content:"✗ ";
}
.close-icon:hover{
    cursor:pointer;

}
.inner-popup.success{
    background-color: #00B300;
}
.inner-popup.warning{
    background-color: #FFA500;
}
.inner-popup.info{
    background-color: #f9f9b5;
}
.inner-popup.error{
    background-color: #FF0000;
}

.progress-container{
    display:flex;
    align-items: center;
    justify-content: space-around;
    gap:.7rem;
}
/* for remove animation */
.inner-popup.hide{
    animation:hide1 linear .1s;
    animation-fill-mode: forwards;
}
.inner-popup.hide1{
    animation:hide2 linear .1s forwards !important;
}

/* footer part */
footer{
    height:5vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    box-shadow:0px 1px 5px 0px #cfcfcf;
}

@keyframes slider {
    from{
        transform:translateX(-100%);
    }
    to{
        transform:translateX(0px);
    }
}
@keyframes hide1 {
    from{
        transform:translateX(0px);
    }
    to{
        transform:translateX(-100%);
    }
}
@keyframes slider1 {
    from{
        transform:translateX(100%);
    }
    to{
        transform:translateX(0px);
    }
}
@keyframes hide2{
    from{
        transform:translateX(0px);
    }
    to{
        transform:translateX(100%);
    }
}
